<div class="country-container" *ngIf="countryData">
    <h1>{{ countryData?.country }}</h1>
  
    <div class="stats-container">
      <div class="stat-box">
        <p>Number of entries</p>
        <h3>{{ countryData?.participations?.length || 0 }}</h3>
      </div>
      <div class="stat-box">
        <p>Total number of medals</p>
        <h3>{{ totalMedals }}</h3>
      </div>
      <div class="stat-box">
        <p>Total number of athletes</p>
        <h3>{{ totalAthletes }}</h3>
      </div>
    </div>
  
    <canvas id="medalHistoryChart"></canvas>
  
    <button (click)="goBack()">Retour</button>
  </div>
  